@charset "utf-8";
/* CSS Document */
html{
	color: white
	
}
body {   
	overflow-x: hidden;
	min-width: 100%;
	background-size:1920px auto;;
  background-repeat: no-repeat;
	margin-bottom: 100px;
  
}
.container{	
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}
.headermarginchar{
	margin-top: 64px;
}
.abilitycontainer {
	display: flex;
	margin-top: 125px;
	margin-left: 100px;
	margin-right:4px;
	
}
.abilitytext {
	margin-left: 16px;
	font-size: 20px;
	
}
.center{
	display: flex;
	margin-top: 100px;
	margin-left: 50px;
	margin-right:50px;
	margin-bottom: 100px;
	
}
.leftcontainer {
	display: flex;
	margin-top: 0px;
	margin-left: 50px;
	margin-right:600px;
	
}
.rightcontainer {
	display: flex;
	margin-top: 0px;
	margin-left: 600px;
	margin-right:50px;
	
}
.rightcentrecontainer {
	display: flex;
	margin-top: 0px;
	margin-left: 16vw;
	margin-right:4vw;
	
}
.rightcentrecontainer {

	margin-left: 17vw;	
	font-size: 0px;
}
.rightimgcontainer {

	margin-right: 8vw;	
}
.leftimgcontainer {

	margin-left: 8vw;	
}
.border
{
	border: 2px solid #ffffff;
	border-radius: 7px;
}
.selectanim:hover {
  box-shadow: 0 0 2px 1px white;
}
.menu{
	
}
.imgcenter{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}